/**
* @section Settings
*/
/*bg*/
/*colors*/
/*almast like the first*/
/*pale gray*/
/* line 6, ../dev/sass/colors.scss */
.b-siteTitle__item.-type_important {
  color: #5bb14d;
}

/* line 12, ../dev/sass/colors.scss */
.l-siteSearch {
  background-image: url("../img/blocks/siteSearch/siteSearch-bg.png");
}

/* line 16, ../dev/sass/colors.scss */
.b-siteSearch__input {
  background-image: url("../img/blocks/siteSearch/siteSearch__input-ico.png");
}
/* line 18, ../dev/sass/colors.scss */
.b-siteSearch__input:focus {
  background-image: none;
}

/* line 25, ../dev/sass/colors.scss */
.b-pageTitle:before {
  border-bottom-color: #5bb14d;
}

/* line 30, ../dev/sass/colors.scss */
.b-btn {
  background: #5bb14d;
}

/* line 36, ../dev/sass/colors.scss */
.b-link.-color_green {
  color: #5bb14d;
}
/* line 38, ../dev/sass/colors.scss */
.b-link.-color_green:hover, .b-link.-color_green:active, .b-link.-color_green:visited, .b-link.-color_green:focus {
  color: #5bb14d;
}

/* line 47, ../dev/sass/colors.scss */
.b-sidebarMenu__item.-state_active, .b-sidebarMenu__item:hover {
  color: #5bb14d;
}
/* line 52, ../dev/sass/colors.scss */
.b-sidebarMenu__count {
  background: #5bb14d;
}

/* line 59, ../dev/sass/colors.scss */
.b-breadCrumbs__item {
  color: #5bb14d;
}

/* line 65, ../dev/sass/colors.scss */
.b-panelDualLinks__link {
  color: #5bb14d;
}
/* line 67, ../dev/sass/colors.scss */
.b-panelDualLinks__link:hover, .b-panelDualLinks__link:active, .b-panelDualLinks__link:visited, .b-panelDualLinks__link:focus {
  color: #5bb14d;
}
/* line 73, ../dev/sass/colors.scss */
.b-panelDualLinks__btn:before {
  background-image: url("../img/blocks/panel/panelDualLinks-ico.png");
}

/* line 81, ../dev/sass/colors.scss */
.b-panelView__number {
  color: #5bb14d;
}
/* line 84, ../dev/sass/colors.scss */
.-state_active .b-panelView__number:hover {
  color: #5bb14d;
}
/* line 89, ../dev/sass/colors.scss */
.b-panelView__number:before {
  background-image: url("../img/blocks/panel/panelView-ico.png");
}

/* line 98, ../dev/sass/colors.scss */
.b-pagination__arrow:before {
  background-image: url("../img/blocks/pagination/pagination-ico.png");
}
/* line 102, ../dev/sass/colors.scss */
.b-pagination__number {
  color: #5bb14d;
}
/* line 105, ../dev/sass/colors.scss */
.b-pagination__number:hover, .b-pagination__number:active, .b-pagination__number:visited, .b-pagination__number:focus {
  color: #5bb14d;
}
/* line 110, ../dev/sass/colors.scss */
.b-pagination__number.-state_active:hover {
  color: #5bb14d;
}

/* line 122, ../dev/sass/colors.scss */
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #5bb14d;
}
/* line 130, ../dev/sass/colors.scss */
.jq-selectbox li.selected, .jq-selectbox li:hover {
  background-color: #5bb14d;
}
/* line 136, ../dev/sass/colors.scss */
.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #5bb14d;
}

/* line 145, ../dev/sass/colors.scss */
.b-slider__arrow:before {
  background: url("../img/blocks/slider/slider-ico.png") 0 0 no-repeat;
}
/* line 150, ../dev/sass/colors.scss */
.b-slider__title {
  color: #5bb14d;
}

/* line 159, ../dev/sass/colors.scss */
.b-control__field:focus {
  border: 1px solid #5bb14d;
}
