/**
* @section Settings
*/
/*bg*/
/*colors*/
/* line 6, ../dev/sass/colors.scss */
.b-siteTitle__item.-type_important {
  color: #5bb14d;
}

/* line 12, ../dev/sass/colors.scss */
.l-siteSearch {
  background-image: url("../img/blocks/siteSearch/siteSearch-bg.png");
}

/* line 16, ../dev/sass/colors.scss */
.b-siteSearch__input {
  background-image: url("../img/blocks/siteSearch/siteSearch__input-ico.png");
}
/* line 18, ../dev/sass/colors.scss */
.b-siteSearch__input:focus {
  background-image: none;
}

/* line 25, ../dev/sass/colors.scss */
.b-pageTitle:before {
  border-bottom-color: #5bb14d;
}

/* line 30, ../dev/sass/colors.scss */
.b-btn {
  background: #5bb14d;
}

/* line 36, ../dev/sass/colors.scss */
.b-link.-color_green {
  color: #5bb14d;
}
/* line 38, ../dev/sass/colors.scss */
.b-link.-color_green:hover, .b-link.-color_green:active, .b-link.-color_green:visited, .b-link.-color_green:focus {
  color: #5bb14d;
}

/* line 47, ../dev/sass/colors.scss */
.b-sidebarMenu__item.-state_active, .b-sidebarMenu__item:hover {
  color: #5bb14d;
}
/* line 52, ../dev/sass/colors.scss */
.b-sidebarMenu__count {
  background: #5bb14d;
}

/* line 58, ../dev/sass/colors.scss */
.b-breadCrumbs__item {
  color: #5bb14d;
}

/* line 64, ../dev/sass/colors.scss */
.b-panelDualLinks__link {
  color: #5bb14d;
}
/* line 66, ../dev/sass/colors.scss */
.b-panelDualLinks__link:hover, .b-panelDualLinks__link:active, .b-panelDualLinks__link:visited, .b-panelDualLinks__link:focus {
  color: #5bb14d;
}
/* line 72, ../dev/sass/colors.scss */
.b-panelDualLinks__btn:before {
  background-image: url("../img/blocks/panel/panelDualLinks-ico.png");
}
