/**
* @section Control
*/

.b-control {
	&__title {
		margin: 0 0 15px;
		padding: 0;
		color: $thirdColor;
    font-size: 14px;
    font-weight: normal;
	}

	&__select, &__field {
		margin: 0 10px 0 0;
	}

	&.-side_right {
		float: right;
	}

	&.-side_left {
		float: left;
	}

	&__field {
		box-sizing: border-box;
		padding: 10px;
		border-radius: 2px; 
		border: 1px solid #dae8e7;

		&:focus {
			outline: 0;
		}

		&.-type_textarea {
	    width: 100%;
			display: block;
			margin-right: 0;
			min-height: 60px;
		}
	}
}

/*select*/
.jq-selectbox {
	vertical-align: top;

	&__select {
		width: 178px;
    height: 40px;
    padding: 2px 33px 0 21px;
		border: 1px solid #b1b1b1;
		outline: 0;
		border-radius: 2px; 
		background: #fff;
		box-shadow: none;

		&:hover {
			outline: 0;
			background: #fff;
			box-shadow: none;
		}

		&-text {
			color: $thirdColor;
		}
	}

	.placeholder {
		color: $thirdColor;
		font-style: italic;
	}

	&__trigger {
		border-left: 0;
		&-arrow {
      top: 17px;
    	right: 18px;
	    border-top: 4px solid #898989;
	    border-right: 4px solid transparent;
		}
	}

	&__dropdown {
		border-bottom: 1px solid #dae8e7;
		background: #fff;
		color: inherit;
	}

	ul {
		max-height: 145px;
	}

	li {
		&.selected, &:hover {
			color: #fff;
		}
	}

}

