/**
* @section Rate
*/

.b-rate {
	position: relative;
	padding: 0 0 0 24px;
	font-size: 12px;
	&:before {
		position: absolute;
		top: 2px;
		left: 0;
		width: 14px;
		height: 11px;
		background: url('../img/blocks/rate/rate-ico.png') 0 0 no-repeat;
		content: '';
	}
}

.b-rateStarts, .b-rateNumber {
	display: inline-block;
}

.l-rateStarts {

	&.-size-big {

	}
}

.b-rateStarts {
	margin: 0 2px 0 0;

	&__item {
		width: 12px;
		height: 12px;
		display: inline-block;
		cursor: pointer;

		&.-state_filled {
	    background-position: -17px 0;

	    .-size-big & {
				background-position: -24px -17px;
	    }
		}

		.-size-big & {
			width: 17px;
			height: 17px;
			background-position: 0 -17px;
		}
	}
}

.b-rateNumber {
  margin: 1px 0 0;
	font-size: 12px;
	vertical-align: top;
}
