/**
* @section Scroll Up
*/
.b-scrollUp {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: none;
  position: fixed;
  right: 50%;
  bottom: 12px;
  z-index: 1500;
  &__link {
    display: block;
    padding: 13px 0;
    color: #535d7f;
    background: transparent url('../img/blocks/scrollUp/scrollUp-ico.png') 0 0 no-repeat;
    font: 700 15px/1.2 "Tahoma", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-indent: 1000px;
    &:active, &:visited, &:hover, &:focus {
      color: #535d7f;
      text-decoration: none;  
    }
    &:hover, &:focus, &:active {
      background-position: -54px 0;
    }
  }
  &.-state_active {
    display: block;
  }
}