/**
* @section Socials
*/

.b-socials {
	@include clearfix;
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;

	&__item {
		float: left;
    margin: 0 7px 0 0;
    &:last-child {
    	margin-right: 0;
    }
	}

	&__link {
		display: block;
		width: 20px;
		height: 20px;
		overflow: hidden;
		text-indent: 100px;
		outline: 0;
		color: inherit;
		background: url('../img/blocks/socials/socials-ico.png') 0 0 no-repeat;

		&:hover, &:visited, &:active, &:focus {
			color: inherit;
			outline: 0;
			text-decoration: none;
		}

		.-type_mail & {
			background-position: 0 0;
		}

		.-type_vk & {
	    background-position: -26px 0;
		}

		.-type_fb & {
	    background-position: -52px 0;
		}

		.-type_classmates & {
	    background-position: -78px 0;
		}

	}
}

.b-socialLogin {

	&__item {
		margin: 0 0 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__btn {
		position: relative;
		display: block;
		padding: 0 0 0 80px;
		box-sizing: border-box;
		min-height: 60px;
		border-radius: 2px;
		border: 0;
		outline: 0;
		color: #fff;
		box-shadow: none;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: normal;
		
		&:hover, &:visited, &:active, &:focus {
			color: #fff;
			outline: 0;
			text-decoration: none;
		}

		&.-type {

			&_fb {
				background: #3b5998;

				&:before {
					width: 14px;
					top: 15px;
					left: 33px;
					background-position: 0 0;
				}
			}

			&_vk {
				background: #45668e;

				&:before {
					width: 40px;
					top: 18px;
    			left: 18px;
					background-position:-29px 0;
				}
			}
		}

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			height: 30px;
			display: block;
			background: url('../img/blocks/socials/socialLogin-ico.png') 0 0 no-repeat;
			content: '';
		}
	}

	&__btnText {
		display: block;
		min-height: 60px;
		box-sizing: border-box;
		padding: 20px 30px;
		border-left: 1px solid #284786;
		text-align: center;
	}
}


