/**
* @section Detail
*/

.l-detail {
	padding: 10px;
	margin: 0 19px 0 0;
	background: #fff;
}

.b-detail {

	&__imgWrapper {
		margin: 0 0 30px;
	}

	&__img {
    display: block;
    width: 100%;
    height: 100%;
	}

	&__block {
		margin: 20px 0;
		padding: 0 0 20px;
		border-bottom: 1px solid #dae8e7;
	}
}

.l-detailList {
	@include clearfix;
} 

.b-detailList {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;

	&.-type_column {
		float: left;
	}

	&__item {
		margin: 0 0 32px;

		.-type_column & {
			margin-bottom: 10px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__content {
		@include clearfix;
	}

	&__title {
		float: left;
		position: relative;
		width: 120px;
		margin: 0 10px;
    padding: 0 0 0 25px;
		color: $thirdColor;
		font-weight: 700;

		.-type_column & {
			width: 130px;
		}

		&:before {
			position: absolute;
			top: 1px;
			left: 0;
			width: 20px;
			height: 15px;
			display: block;
			background: url('../img/blocks/detail/detail-ico.png') 0 0 no-repeat;
			content: '';
		}

		.-type_description & {

			&:before {
				background-position: -72px 0;
			}
		}

		.-type_tags & {

			&:before {
				background-position: -72px -28px;
			}
		}
	}

	&__val {
		overflow: hidden;
	}
}

