/**
* @section Detail
*/

.l-detail {
	padding: 10px;
	margin: 0 19px 0 0;
	background: #fff;
}

.b-detail {

	&__imgWrapper {
		margin: 0 0 30px;
	}

	&__img {
    display: block;
    width: 100%;
    height: 100%;
	}

	&__block {
		margin: 20px 0;
		padding: 0 0 20px;
		border-bottom: 1px solid #dae8e7;
	}
}

.l-detailList {} 

.b-detailList {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;

	&__item {}

	&__title {
		color: $thirdColor;
		font-weight: 700;
	}

	&__val {

	}
}

