/**
* @section Like
*/
.l-like {
	position: relative;
	padding: 14px 0 4px 12px;
	&:before {
		position: absolute;
		top: 10px;
		left: 0;
		display: block;
		width: 1px;
		height: 21px;
		border-left: 1px solid #e1e6e6;
		content: '';
	}
}

.b-like {
	display: block;
	overflow: hidden;
	width: 15px;
	height: 13px;
	text-indent: 100px;
	background: url('../img/blocks/like/like-ico.png') 0 0 no-repeat;
	cursor: pointer;
	&.-state_liked, &:hover {
		background-position: -35px 0;
	}
}