/**
* @section Preview
*/

.l-preview {}

.b-preview {
	@include clearfix;
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;

	&__item {
		width: 280px;
		padding: 9px;
		box-sizing: border-box;
		float: left;
		background: #fff;
	}

	&__linkWrapper {
		display: inline-block;
		outline: 0;
		color: inherit;
		text-decoration: none;
		&:hover, &:active, &:visited, &:focus {
			outline: 0;
			color: inherit;
			text-decoration: none;
		}
	}

	&__imgWrapper {
		height: 171px;
		overflow: hidden;
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
	}

	&__info {
    margin: 5px 0 0;
    padding: 0 0 0 11px;
		color: $secondColor;
		@include clearfix;

		&.-type_one {}

		&.-type_two {
			margin-top: 13px;
		}
	}

	&__title {
		float: left;
		width: 215px;
		font-size: 14px;
    line-height: 1.4;
	}

	&__like {
		position: relative;
    padding: 14px 0 4px 12px;
		overflow: hidden;
		&:before {
			position: absolute;
			top: 10px;
			left: 0;
			display: block;
			width: 1px;
			height: 21px;
			border-left: 1px solid #e1e6e6;
			content: '';
		}
	}

	&__stars {
		overflow: hidden;
	}

	&__count {
		float: right;
	}
}