/**
* @section Slider
*/

.l-slider {
	position: relative;
	padding: 0 40px;	
}

.b-slider {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;

	&__slides {
		@include clearfix;
	}

	&__slide {

		&.-state_active {

		}
	}

	&__slideItems {
		@include clearfix;
	}

	&__item {
		float: left;
	}

	&__arrow {
		position: absolute;
		top: 0;
		width: 38px;
		height: 38px;
		display: block;
		border: 1px solid #dae8e7;
		background: #fff;
		color: inherit;
		text-decoration: none;

		&:hover, &:focus, &:active, &:visited {
			color: inherit;
			text-decoration: none;
		}

		&.-type_prev {
			left: 0;
		}

		&.-type_next {
			right: 0;
		}
	}
}