/**
* @section Settings
*/

$siteWidth: 1220px;

/*bg*/
$headerBg: #212121;
$footerBg: $headerBg;

/*colors*/
$mainColor: #33373b;
$secondColor: #555454;
$thirdColor: #a7a7a7; 
$themeColor: #5bb14d; 
$sidebarColor: #555; 


