@charset "utf-8";
@import 'settings';

.b-siteTitle {
	&__item {
		&.-type_important {
			color: $themeColor;
		}
	}
}

.l-siteSearch {
	background-image: url('../img/blocks/siteSearch/siteSearch-bg.png');
}
.b-siteSearch {
	&__input {
		background-image: url('../img/blocks/siteSearch/siteSearch__input-ico.png');
		&:focus {
			background-image: none;
		}
	}
}

.b-pageTitle { 
	&:before {
		border-bottom-color: $themeColor;
	}
}

.b-btn {
	background: $themeColor;
}

.b-link {

	&.-color_green {
		color: $themeColor;
		&:hover, &:active, &:visited, &:focus {
			color: $themeColor;
		}
	}
}

.b-sidebarMenu {

	&__item {
		&.-state_active, &:hover {
			color: $themeColor;
		}
	}

	&__count {
		background: $themeColor;
	}
}

.b-breadCrumbs {

	&__item {
		color: $themeColor;
	}
}

.b-panelDualLinks {
	&__link {
		color: $themeColor;
		&:hover, &:active, &:visited, &:focus {
			color: $themeColor;
		}
	}

	&__btn {
		&:before {
			background-image: url('../img/blocks/panel/panelDualLinks-ico.png');
		}
	}
}

.b-panelView {

	&__number { 
		color: $themeColor;
		.-state_active & {
			&:hover {
				color: $themeColor;
			}
		}

		&:before {
			background-image: url('../img/blocks/panel/panelView-ico.png');
		}
	}
}

.b-pagination {

	&__arrow  {
		&:before {
			background-image: url('../img/blocks/pagination/pagination-ico.png');
		}
	}
	&__number {
		color: $themeColor;

		&:hover, &:active, &:visited, &:focus {
			color: $themeColor;
		}

		&.-state_active {
			&:hover {
				color: $themeColor;
			}
		}
	}
}

.jq-selectbox {

	&:hover {
		.jq-selectbox {
			&__trigger {
				&-arrow {
					border-top-color: $themeColor;
				}
			}
		}
	}

	li {
		&.selected, &:hover {
			background-color: $themeColor;
		}
	}

	&.focused {
		.jq-selectbox__select {
			border: 1px solid $themeColor;
		}
	}
}

.jq-checkbox  {
	&.focused {
		border: 1px solid $themeColor;
	}
}

.b-slider {

	&__arrow {
		&:before {
			background: url('../img/blocks/slider/slider-ico.png') 0 0 no-repeat;
		}
	}

	&__title {
		color: $themeColor;
	}
}

.b-control {

	&__field {
		
		&:focus {
			border: 1px solid $themeColor;
		}
	}
}

.b-loader {

	&:before {
		background: rgba(146, 199, 127, .85) url('../img/blocks/loader/loader-ico.gif') center 50%  no-repeat;
	}
}

.b-rateStarts {

	&__item {
		background: url('../img/blocks/rateStarts/rateStarts-ico.png') 0 0 no-repeat;
	}
}

