@charset "utf-8";
@import 'settings';

.b-siteTitle {
	&__item {
		&.-type_important {
			color: $themeColor;
		}
	}
}

.l-siteSearch {
	background-image: url('../img/blocks/siteSearch/siteSearch-bg.png');
}
.b-siteSearch {
	&__input {
		background-image: url('../img/blocks/siteSearch/siteSearch__input-ico.png');
		&:focus {
			background-image: none;
		}
	}
}

.b-pageTitle { 
	&:before {
		border-bottom-color: $themeColor;
	}
}

.b-btn {
	background: $themeColor;
}

.b-link {

	&.-color_green {
		color: $themeColor;
		&:hover, &:active, &:visited, &:focus {
			color: $themeColor;
		}
	}
}

.b-sidebarMenu {

	&__item {
		&.-state_active, &:hover {
			color: $themeColor;
		}
	}

	&__count {
		background: $themeColor;
	}
}

.b-breadCrumbs {
	&__item {
		color: $themeColor;
	}
}
