@charset "utf-8";
@import 'settings';

.b-siteTitle {
	&__item {
		&.-type_important {
			color: $themeColor;
		}
	}
}

.l-siteSearch {
	background-image: url('../img/blocks/siteSearch/siteSearch-bg.png');
}
.b-siteSearch {
	&__input {
		background-image: url('../img/blocks/siteSearch/siteSearch__input-ico.png');
		&:focus {
			background-image: none;
		}
	}
}

.b-pageTitle { 
	&:before {
		border-bottom-color: $themeColor;
	}
}

.b-btn {
	background: $themeColor;
}

.b-link {

	&.-color_green {
		color: $themeColor;
		&:hover, &:active, &:visited, &:focus {
			color: $themeColor;
		}
	}
}

.b-sidebarMenu {

	&__item {
		&.-state_active, &:hover {
			color: $themeColor;
		}
	}

	&__count {
		background: $themeColor;
	}
}

.b-breadCrumbs {
	&__item {
		color: $themeColor;
	}
}

.b-panelDualLinks {
	&__link {
		color: $themeColor;
		&:hover, &:active, &:visited, &:focus {
			color: $themeColor;
		}
	}

	&__btn {
		&:before {
			background-image: url('../img/blocks/panel/panelDualLinks-ico.png');
		}
	}
}

.b-panelView {

	&__number { 
		color: $themeColor;
		.-state_active & {
			&:hover {
				color: $themeColor;
			}
		}

		&:before {
			background-image: url('../img/blocks/panel/panelView-ico.png');
		}
	}
}

.b-pagination {
	&__arrow  {
		&:before {
			background-image: url('../img/blocks/pagination/pagination-ico.png');
		}
	}
	&__number {
		color: $themeColor;

		&:hover, &:active, &:visited, &:focus {
			color: $themeColor;
		}

		&.-state_active {
			&:hover {
				color: $themeColor;
			}
		}
	}
}

.jq-selectbox {
	&:hover {
		.jq-selectbox {
			&__trigger {
				&-arrow {
					border-top-color: $themeColor;
				}
			}
		}
	}
}

