@charset "utf-8";

@import 'normalize';
@import 'h5b';
@import 'compass/css3/images';
@import 'mixins';
@import 'base64';
@import 'blocks/g-blocks';
@import 'fonts';
@import 'settings';


/**
* Style for plugins
*/
@import 'plugins/jquery.fancybox';
@import 'plugins/jquery.fancybox-buttons';
@import 'plugins/jquery.fancybox-thumbs';


html, body { 
  height: 100%;
  color: $mainColor;
  font: normal 14px/1.3 $OpenSans;
}

/**
* @section wrapper
*/
.l-wrapper {
  position: relative;
}

@import 'blocks/l-siteHeader';
@import 'blocks/l-siteLogo';
@import 'blocks/l-siteTitle';
@import 'blocks/l-siteContactUs';
@import 'blocks/l-siteSearch';
@import 'blocks/l-siteNavigation';

/**
* @section content
*/
.l-content {
  max-width: $siteWidth;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.b-content {
  position: relative;
  display: block;
}

@import 'blocks/l-siteFooter';
@import 'blocks/l-siteCopyright';
@import 'blocks/b-developerCopyright';


/**
* Responsive & Print styles
*/
@import 'responsive/device_desktop';
@import 'responsive/device_tablet';
@import 'responsive/device_mobile';
@import 'responsive/media_queries';
@import 'print';