@charset "utf-8";

@import 'normalize';
@import 'h5b';
@import 'compass/css3/images';
@import 'mixins';
@import 'base64';
@import 'blocks/g-blocks';
@import 'fonts';
@import 'settings';


/**
* Style for plugins
*/
@import 'plugins/jquery.fancybox';
@import 'plugins/jquery.fancybox-buttons';
@import 'plugins/jquery.fancybox-thumbs';
@import 'plugins/jquery.formstyler';


html, body { 
  height: 100%;
  background: #e7eded; 
  color: $mainColor;
  font: normal 14px/1.3 $OpenSans;
}

/**
* @section wrapper
*/
.l-wrapper {
  position: relative;
  min-height: 100%;
}

@import 'blocks/l-siteHeader';
@import 'blocks/l-siteLogo';
@import 'blocks/l-siteTitle';
@import 'blocks/l-siteContactUs';
@import 'blocks/l-siteSearch';
@import 'blocks/l-siteNavigation';
@import 'blocks/l-panel';
@import 'blocks/l-pageTitle';
@import 'blocks/l-sidebar';
@import 'blocks/l-btn';
@import 'blocks/l-links';
@import 'blocks/l-preview';
@import 'blocks/l-like';
@import 'blocks/b-rate';
@import 'blocks/l-breadCrumbs';
@import 'blocks/l-pagination';
@import 'blocks/l-detail';
@import 'blocks/l-tagCloud';
@import 'blocks/b-socials';
@import 'blocks/b-control';
@import 'blocks/l-slider';







/**
* @section content
*/
.l-content {
  max-width: $siteWidth;
  margin: 0 auto;
  padding: 33px 20px 161px;
  position: relative;
}

.b-content {
  @include clearfix;
  position: relative;
  display: block;
  margin: 20px 0 0;
  &__content {
    overflow: hidden;
    @media only screen and (max-width: 640px) { 
     overflow: auto;
    }
  }
}

@import 'blocks/l-siteFooter';
@import 'blocks/l-siteCopyright';
@import 'blocks/b-developerCopyright';


/**
* Responsive & Print styles
*/
@import 'responsive/device_desktop';
@import 'responsive/device_tablet';
@import 'responsive/device_mobile';
@import 'responsive/media_queries';
@import 'print';